<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

        <connectionStrings>
                <add name="BaseDatosPruebaEntities1"
                         providerName="System.Data.EntityClient"
                         connectionString="metadata=res://*/BasePictionaryMusical.csdl|res://*/BasePictionaryMusical.ssdl|res://*/BasePictionaryMusical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BaseDatosPrueba;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
        </connectionStrings>

        <appSettings>
                <add key="Correo.Remitente.Direccion" value="pictionarymusical8@gmail.com" />
                <add key="Correo.Remitente.Nombre" value="Pictionary Musical" />
                <add key="Correo.Smtp.Host" value="smtp.gmail.com" />
                <add key="Correo.Smtp.Puerto" value="587" />
                <add key="Correo.Smtp.Usuario" value="pictionarymusical8@gmail.com" />
                <add key="Correo.Smtp.Contrasena" value="chzg sejw ktzv mehx" />
                <add key="Correo.Smtp.HabilitarSsl" value="true" />
        </appSettings>

        <system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
                        <!-- Cuenta -->
                        <service name="Servicios.Servicios.CuentaManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/Cuenta"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/Cuenta"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="Cuenta"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.ICuentaManejador" />
                                <endpoint address="Cuenta"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.ICuentaManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Código de verificación -->
                        <service name="Servicios.Servicios.CodigoVerificacionManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/CodigoVerificacion"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/CodigoVerificacion"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="CodigoVerificacion"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.ICodigoVerificacionManejador" />
                                <endpoint address="CodigoVerificacion"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.ICodigoVerificacionManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Reenvío de código de verificación -->
                        <service name="Servicios.Servicios.ReenviarCodigoVerificacionManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/ReenvioCodigoVerificacion"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/ReenvioCodigoVerificacion"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="ReenvioCodigoVerificacion"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.IReenviarCodigoVerificacionManejador" />
                                <endpoint address="ReenvioCodigoVerificacion"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.IReenviarCodigoVerificacionManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Catálogo de avatares -->
                        <service name="Servicios.Servicios.CatalogoAvatares"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/Avatares"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/Avatares"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="Avatares"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.ICatalogoAvatares" />
                                <endpoint address="Avatares"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.ICatalogoAvatares" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Inicio de sesión -->
                        <service name="Servicios.Servicios.InicioSesionManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/InicioSesion"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/InicioSesion"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="InicioSesion"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.IInicioSesionManejador" />
                                <endpoint address="InicioSesion"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.IInicioSesionManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Recuperación de contraseña -->
                        <service name="Servicios.Servicios.CambiarContrasenaManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/CambiarContrasena"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/CambiarContrasena"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="CambiarContrasena"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.ICambiarContrasenaManejador" />
                                <endpoint address="CambiarContrasena"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.ICambiarContrasenaManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>

                        <!-- Clasificación -->
                        <service name="Servicios.Servicios.ClasificacionManejador"
                                         behaviorConfiguration="mexBehavior">
                                <host>
                                        <baseAddresses>
                                                <add baseAddress="http://localhost:8086/Pictionary/Clasificacion"/>
                                                <add baseAddress="net.tcp://localhost:8096/Pictionary/Clasificacion"/>
                                        </baseAddresses>
                                </host>
                                <endpoint address="Clasificacion"
                                                  binding="basicHttpBinding"
                                                  contract="Servicios.Contratos.IClasificacionManejador" />
                                <endpoint address="Clasificacion"
                                                  binding="netTcpBinding"
                                                  contract="Servicios.Contratos.IClasificacionManejador" />
                                <!-- Metadatos -->
                                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                                <endpoint address="mex" binding="mexTcpBinding"  contract="IMetadataExchange" />
                        </service>
                </services>
        </system.serviceModel>
</configuration>
