<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PictionaryMusicalCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PictionaryMusicalCliente.Properties.Settings>
            <setting name="idiomaCodigo" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </PictionaryMusicalCliente.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICuentaManejador" />
                <binding name="BasicHttpBinding_ICatalogoAvatares" />
                <binding name="BasicHttpBinding_ICodigoVerificacionManejador" />
                <binding name="BasicHttpBinding_IReenviarCodigoVerificacionManejador" />
                <binding name="BasicHttpBinding_IInicioSesionManejador" />
                <binding name="BasicHttpBinding_ICambiarContrasenaManejador" />
                <binding name="BasicHttpBinding_IClasificacionManejador" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICuentaManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICatalogoAvatares">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICodigoVerificacionManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReenviarCodigoVerificacionManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IInicioSesionManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICambiarContrasenaManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IClasificacionManejador">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8086/Pictionary/Avatares/Avatares"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoAvatares"
                contract="PictionaryServidorServicioAvatares.ICatalogoAvatares"
                name="BasicHttpBinding_ICatalogoAvatares" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/Avatares/Avatares"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICatalogoAvatares"
                contract="PictionaryServidorServicioAvatares.ICatalogoAvatares"
                name="NetTcpBinding_ICatalogoAvatares">
                <identity>
                    <userPrincipalName value="DESKTOP-JQHH8D5\Usuario" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/Cuenta/Cuenta"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICuentaManejador"
                contract="PictionaryServidorServicioCuenta.ICuentaManejador"
                name="BasicHttpBinding_ICuentaManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/Cuenta/Cuenta"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICuentaManejador"
                contract="PictionaryServidorServicioCuenta.ICuentaManejador"
                name="NetTcpBinding_ICuentaManejador">
                <identity>
                    <userPrincipalName value="DESKTOP-JQHH8D5\Usuario" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/CodigoVerificacion/CodigoVerificacion"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodigoVerificacionManejador"
                contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
                name="BasicHttpBinding_ICodigoVerificacionManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/CodigoVerificacion/CodigoVerificacion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICodigoVerificacionManejador"
                contract="PictionaryServidorServicioCodigoVerificacion.ICodigoVerificacionManejador"
                name="NetTcpBinding_ICodigoVerificacionManejador">
                <identity>
                    <userPrincipalName value="DESKTOP-JQHH8D5\Usuario" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/ReenvioCodigoVerificacion/ReenvioCodigoVerificacion"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReenviarCodigoVerificacionManejador"
                contract="PictionaryServidorServicioReenvioCodigoVerificacion.IReenviarCodigoVerificacionManejador"
                name="BasicHttpBinding_IReenviarCodigoVerificacionManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/ReenvioCodigoVerificacion/ReenvioCodigoVerificacion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReenviarCodigoVerificacionManejador"
                contract="PictionaryServidorServicioReenvioCodigoVerificacion.IReenviarCodigoVerificacionManejador"
                name="NetTcpBinding_IReenviarCodigoVerificacionManejador">
                <identity>
                    <userPrincipalName value="DESKTOP-JQHH8D5\Usuario" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/InicioSesion/InicioSesion"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInicioSesionManejador"
                contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
                name="BasicHttpBinding_IInicioSesionManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/InicioSesion/InicioSesion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInicioSesionManejador"
                contract="PictionaryServidorServicioInicioSesion.IInicioSesionManejador"
                name="NetTcpBinding_IInicioSesionManejador">
                <identity>
                    <userPrincipalName value="PC-1\migue" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/CambiarContrasena/CambiarContrasena"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICambiarContrasenaManejador"
                contract="PictionaryServidorServicioCambioContrasena.ICambiarContrasenaManejador"
                name="BasicHttpBinding_ICambiarContrasenaManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/CambiarContrasena/CambiarContrasena"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICambiarContrasenaManejador"
                contract="PictionaryServidorServicioCambioContrasena.ICambiarContrasenaManejador"
                name="NetTcpBinding_ICambiarContrasenaManejador">
                <identity>
                    <userPrincipalName value="PC-1\migue" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8086/Pictionary/Clasificacion/Clasificacion"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClasificacionManejador"
                contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
                name="BasicHttpBinding_IClasificacionManejador" />
            <endpoint address="net.tcp://localhost:8096/Pictionary/Clasificacion/Clasificacion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IClasificacionManejador"
                contract="PictionaryServidorServicioClasificacion.IClasificacionManejador"
                name="NetTcpBinding_IClasificacionManejador">
                <identity>
                    <userPrincipalName value="URIEL\uriel" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>